// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1000px;

// colors
$copyColor: #ffffff;
$menuColor: #ffffff;
$darkColor: #1a2930;
$highlightColor: #f7ce3e;
$headerBgColor: rgba(20, 31, 37, 0.75);


$dPadding: calc(50vw - 34rem);
// $dPaddingL: calc(50vw - 39rem);
