.contacts {
    // box model
    display: block;
    /*vertical-align: top;*/
    @media(min-width: $tablet) {
        float: right;
    }

    // typography
    text-align: right;

    & a {
        // typography
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.3;
        text-decoration: none;
        text-transform: uppercase;
    }
}
