.container {
    /*border: 1px solid red;*/
    // positioning
    position: relative;

    // box model
    margin: 0 auto;
    padding: 0 10px;
    max-width: $desktop;
    @media(min-width: $tablet) {
        padding: 0 20px;
    }

    @include clearfix;
}
