.hero {
    // box model
    padding-bottom: 20px;
    @media(min-width: $tablet) {
        height: 540px;
        /*padding-bottom: 0;*/
    }
    @media(min-width: $desktop) {
        height: 700px;
    }

    // visual
    background-image: url("img/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media(min-width: $desktop) {
        background-attachment: fixed;
    }

    &--page {
        // box model
        @media(min-width: $tablet) {
            height: 130px;
        }

        // visual
        background-position: center bottom;
        /*background-position: center -170px;*/
        background-attachment: scroll;
    }
}
