.logo {
    // box model
    /*display: inline-block;*/
    float: left;
    /*vertical-align: top;*/
    width: 20px;
    height: auto;

    &__image {
        // box model
        width: 100%;
    }
}
