.main-footer {
    // positioning
    position: relative;

    // box model 
    padding: 20px 0;
    color: white;

    // typography
    font-size: 0;

    // visual
    background-color: $highlightColor;
    background-image: url("img/footer-bg.png");
    /*background-color: #000000;*/

    &:before {
        content: "";

        // positioning
        position: absolute;
        top: -8px;

        // box model
        display: block;
        height: 9px;
        width: 100%;

        // visual
        /*border: 1px solid red;*/
        background-image: url("img/footer-border.png");
    }
}
