ul.activities {
    // box model
    margin: 0;
    margin-top: 20px;
    padding: 2rem 1rem;

    @media(min-width: $desktop) {
        margin-top: 90px;
        width: 600px;
    }

    // visual
    background-color: $headerBgColor;
    list-style: none;
    backdrop-filter: blur(3px);
}

.activities__item {
    // box model
    padding-bottom: 15px;

    // typography
    color: $white;
    font-size: 1rem;
    line-height: 1.5;

    @media(min-width: $tablet) {
        font-size: 18px;
    }

    &:before {
        content: "— ";

        // typography
        color: $orange;
    }
}
