.footer-address {
  // typography
  color: $dark;
  font-size: 0.85rem;

  @include atTablet {
    // box model
    margin-bottom: 0.5rem;
  }

  a {
    // typography
    color: $dark;
    font-weight: 600;
    white-space: nowrap;
  }
}
