.logo {
  // box model
  display: flex;
  align-items: flex-end;
  height: auto;
  margin-bottom: 2rem;

  // typography
  color: $white;
  text-decoration: none;
  
  @include atTablet {
    // box model
    margin-bottom: 0;
  }
  
  &:hover {
    // typography
    color: $orange;
    text-decoration: none;
  }
}

.logo__image {
  // box model
  // width: 100%;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.logo__image img,
.logo__image svg {
  // box model
  height: 100%;

  // visual
  fill: $white;
}
