.main {
  // box model
  padding: 2rem 1.5rem;
  padding-bottom: 5rem;

  @include atTablet {
    // box model
    padding: 2rem;
    padding-bottom: 6rem;
  }

  @include atDesktopS {
    // box model
    margin: 0 auto;
    padding: 2rem 3rem;
    padding-bottom: 6rem;
  }
  
  @include atDesktopM {
    // box model
    padding: 4rem $dPadding;
    padding-bottom: 8rem;
  }
}
