section.section
  h2.section__caption О Компании
  p.section__sub-caption Компания ООО «НефтеГазЭнергоСервис» образована в 2012 году. Направления деятельности компании:
  ul.section__list
    li.section__item Разработка и актуализация документов стратегического планирования (схем тепло-, водо-, электро и газоснабжения, программ комплексного развития) крупных городов России;
    li.section__item Разработка комплексных программных документов для муниципальных образований, промышленных и сетевых компаний;
    li.section__item Разработка предпроектных и проектных решений в области теплоснабжения, энергосбережения, топливоснабжения и повышения энергетической эффективности;
    li.section__item Энергетические обследования с разработкой предложений по энергосервисному обслуживанию и повышению энергетической эффективности;
    li.section__item Диагностика и обследование энергетического оборудования, определение электромагнитной совместимости на промышленных и сетевых объектах.
  .section__image
    img(src="./img/heat-scheme.jpg", alt="")

section.section
  p.section__sub-caption Основным направлением деятельности ООО «НефтеГазЭнергоСервис» является разработка инфраструктурных проектов развития территорий крупнейших мегаполисов России.
  p.section__text В результате квалифицированной деятельности к 2021 году ООО «НефтеГазЭнергоСервис» стало ведущей компанией в области разработки схем теплоснабжения для крупнейших мегаполисов России.
  p.section__text На протяжении последних 5-ти лет ООО «НефтеГазЭнергоСервис» показывает стабильный рост выручки и прибыли, в среднем этот показатель составляет более 30% в год.
  .section__image
    img(src="./img/city-scheme.png", alt="")

