section.section.section--flex
  .section__content
    h2.section__caption О Компании
    p.section__sub-caption Компания ООО «НефтеГазЭнергоСервис» образована в 2012 году. Направления деятельности компании:
    ul.section__list
      li.section__item Разработка и актуализация документов стратегического планирования (схем тепло-, водо-, электро и газоснабжения, программ комплексного развития) крупных городов России;
      li.section__item Разработка комплексных программных документов для муниципальных образований, промышленных и сетевых компаний;
      li.section__item Разработка предпроектных и проектных решений в области теплоснабжения, энергосбережения, топливоснабжения и повышения энергетической эффективности;
      li.section__item Энергетические обследования с разработкой предложений по энергосервисному обслуживанию и повышению энергетической эффективности;
      li.section__item Диагностика и обследование энергетического оборудования, определение электромагнитной совместимости на промышленных и сетевых объектах.
  .section__image
    img(src="./img/heat-scheme.jpg", alt="")

section.section.section--flex
  .section__content
    p.section__text Основным направлением деятельности ООО «НефтеГазЭнергоСервис» является разработка инфраструктурных проектов развития территорий крупнейших мегаполисов России.
    p.section__sub-caption В результате квалифицированной деятельности ООО «НефтеГазЭнергоСервис» стало ведущей компанией в области разработки схем теплоснабжения для крупнейших мегаполисов России.
    p.section__text На протяжении последних лет ООО «НефтеГазЭнергоСервис» показывает стабильный рост выручки и прибыли, в среднем этот показатель составляет более 30% в год.
  .section__image
    img(src="./img/city-scheme.png", alt="")

section.section.section--partners
  h2.section__caption Отзывы и благодарности
  .section__testimonials
    a.glightbox(href="./img/testimonials/page001.jpg") 
      img(src="./img/testimonials/thumb/page001.jpg", alt="")
    a.glightbox(href="./img/testimonials/page002.jpg") 
      img(src="./img/testimonials/thumb/page002.jpg", alt="")
    a.glightbox(href="./img/testimonials/page003.jpg") 
      img(src="./img/testimonials/thumb/page003.jpg", alt="")
    a.glightbox(href="./img/testimonials/page004.jpg") 
      img(src="./img/testimonials/thumb/page004.jpg", alt="")
    a.glightbox(href="./img/testimonials/page005.jpg") 
      img(src="./img/testimonials/thumb/page005.jpg", alt="")
    a.glightbox(href="./img/testimonials/page006.jpg") 
      img(src="./img/testimonials/thumb/page006.jpg", alt="")
    a.glightbox(href="./img/testimonials/page007.jpg") 
      img(src="./img/testimonials/thumb/page007.jpg", alt="")
    a.glightbox(href="./img/testimonials/page008.jpg") 
      img(src="./img/testimonials/thumb/page008.jpg", alt="")
    a.glightbox(href="./img/testimonials/page009.jpg") 
      img(src="./img/testimonials/thumb/page009.jpg", alt="")
