section.section.section--flex
  .section__content
    h2.section__caption Текущие проекты
    //- p.section__sub-caption По состоянию на апрель 2021 года компанией сформирован портфель муниципальных заказов на общую сумму более 70 млн. рублей. Основные проекты:
    ul.section__list
      li.section__item разработка схемы газоснабжения и газораспределения муниципального образования городской округ город-курорт Сочи Краснодарского края на период до 2035 года;
      li.section__item актуализация и утверждение схемы теплоснабжения ГО г. Уфа по состоянию на 2024г;
      li.section__item разработка схемы теплоснабжения города Элисты на период до 2032 года;
      li.section__item разработка проекта программы комплексного развития систем коммунальной инфраструктуры муниципального образования город Краснодар.

      //- li.section__item разработка схемы теплоснабжения муниципального образования город Краснодар на 2022 год до 2040 года;
      //- li.section__item актуализация и утверждение схемы теплоснабжения ГО г. Уфа по состоянию на 2022г;
      //- li.section__item разработка схемы электроснабжения муниципального образования город Краснодар на 2022 год до 2040 года;
      //- li.section__item разработка схемы газоснабжения муниципального образования город Краснодар на 2022 год до 2040 года;
      //- li.section__item актуализация схемы теплоснабжения городского округа Королев на период с 2019 до 2035 года (актуализация 2022);
      //- li.section__item разработка программы комплексного развития систем коммунальной инфраструктуры городского округа Королев на период с 2021 до 2035 года.

  .section__images
    //- .section__image
      img(src="./img/city-scheme-3.png", alt="")
    .section__image
      img(src="./img/city-scheme-5.png", alt="")
    //- .section__image
      img(src="./img/city-scheme-4.png", alt="")
