section.section
  h2.section__caption Контактная информация
  ul.section__list
    li.section__item 117209, г. Москва, Севастопольский проспект, <br/>д.28, корп. 8, 82.
    li.section__item Телефон/факс: <a href="tel:+74991265327">+7(499) 126-53-27</a>
    li.section__item Сайт: <a href="http://ngeservice.com">NGEService.com</a>
    li.section__item Электропочта: <a href="mailto:info@ngeservice.ru">info@ngeservice.ru</a>

section.section.section--map
  iframe(src="https://api-maps.yandex.ru/frame/v1/-/CZshu4ij" width="100%" height="560" frameborder="0") 
