section.section
  h2.section__caption Контактная информация
  ul.section__list
    li.section__item 117209, г. Москва, Севастопольский проспект, <br/>д.28, корп. 8, 82.
    li.section__item Телефон/факс: <a href="tel:+74991265327">+7(499) 126-53-27</a>
    li.section__item Сайт: <a href="https://nges.pro">NGES.pro</a>, <a href="https://ngeservice.com">NGEService.com</a>
    li.section__item Электропочта: <a href="mailto:info@nges.pro">info@nges.pro</a>, <a href="mailto:info@ngeservice.com">info@ngeservice.com</a>

section.section.section--map
  iframe(src="https://api-maps.yandex.ru/frame/v1/-/CCU4VVGswC" width="100%" height="560" frameborder="0") 
  //- iframe(src="https://yandex.ru/map-widget/v1/-/CCU4VVGswC" width="100%" height="560" frameborder="0" allowfullscreen="true" style="position:relative;") 

  //- <div style="position:relative;overflow:hidden;"> 
  //-   <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a> 
  //-   <a href="https://yandex.ru/maps/213/moscow/house/sevastopolskiy_prospekt_28k8/Z04YcwBlQEAEQFtvfXp3dXliYw==/?ll=37.575953%2C55.664518&utm_medium=mapframe&utm_source=maps&z=17.15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Севастопольский проспект, 28к8 — Яндекс.Карты</a>
  //-   <iframe src="https://yandex.ru/map-widget/v1/-/CCU4VGFcdD" width="100%" height="560" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe> 
  //- </div>  
