section.section
  h2.section__caption Опыт Компании
  p.section__sub-caption За восемь лет деятельности наша компания достигла впечатляющих результатов по объемам оказываемых услуг:
  ul.section__list
    li.section__item компания является одной из ведущих организаций по разработке и актуализации схем теплоснабжения муниципальных образований Российской Федерации, а в области разработки и актуализации схем теплоснабжения для крупнейших городов является лидером. ООО «НефтеГазЭнергоСервис» разработало и актуализировало такие города как Уфа, Самара, Краснодар, Ростов-на-Дону, Саратов, Улан-Удэ, Чебоксары и др.;
    li.section__item опыт компании в разработке схем теплоснабжения был применен нами при разработке пилотного проекта по внедрению в существующую АСУТП электронных моделей схем теплоснабжения компрессорных станций ПАО «Газпром»;
    li.section__item разработана комплексная целевая программа «Энергосбережение в городе Уфа на 2015-2020 гг.»;
    li.section__item актуализирована схема газоснабжения городского округа город Уфа Республики Башкортостан до 2033 года;
    li.section__item были разработаны схемы водоснабжения и водоотведения нескольких муниципальных образований;
    li.section__item были разработаны программы комплексного развития коммунальной инфраструктуры нескольких муниципальных образований;
    li.section__item восстановлена исполнительная документация на ЦТП и распределительные сети отопления, ГВС и ХВС студенческого городка «Дорогомилово»;
    li.section__item в рамках реализации комплексного подхода к энергоаудиту «НефтеГазЭнергоСервис» провел энергетические обследования и заключил энергосервисные контракты в различных регионах России, в том числе с ФГБОУ ВПО МГТУ «Станкин», результаты по которому были представлены и высоко оценены на VI Энергетическом форуме Минобрнауки России «Стандарты энергоэффективности: организации образования и науки»;
    li.section__item cотрудниками компании проведены энергетические обследования различных крупных предприятий в том числе входящих в группу ПАО «Газпром» и ПАО «Транснефть».
  .section__image
    img(src="./img/heat-check.jpg", alt="")
