footer.main-footer
  p.footer-address © ООО «НефтеГазЭнергоСервис», <br/> 2009-2021 <br/><br/>117209, г. Москва, <br/>Севастопольский проспект, <br/>д.28, корп. 8, 82. <br/><br/> тел./факс. <a href="tel:+74991265327"> +7 (499) 126-53-27</a>

  nav.footer-menu
    ul.footer-menu__list
      li.footer-menu__item
        a.footer-menu__link.footer-menu__link--active(href='') Главная
      li.footer-menu__item
        a.footer-menu__link(href='') Деятельность
      li.footer-menu__item
        a.footer-menu__link(href='') Спецпредложения
      li.footer-menu__item
        a.footer-menu__link(href='') Контакты
