footer.main-footer
  nav.footer-menu
    ul.footer-menu__list
      li.footer-menu__item
        a.footer-menu__link(href='index.html') Главная
      li.footer-menu__item
        a.footer-menu__link(href='experience.html') Опыт Компании
      li.footer-menu__item
        a.footer-menu__link(href='qualification.html') Квалификация Компании
      li.footer-menu__item
        a.footer-menu__link(href='schemes.html') Разработка схем теплоснабжения городов РФ
      li.footer-menu__item
        a.footer-menu__link(href='activities.html') Текущие проекты
      li.footer-menu__item
        a.footer-menu__link(href='partners.html') Наши партнёры
      li.footer-menu__item
        a.footer-menu__link(href='contacts.html') Контакты

  p.footer-address 117209, г. Москва, <br/>Севастопольский проспект, <br/>д.28, корп. 8, 82. <br/><br/> тел./факс. <a href="tel:+74991265327"> +7 (499) 126-53-27</a> <br/><br/>©&nbsp;ООО&nbsp;«НефтеГазЭнергоСервис», <br/> 2012-2021

script(src="scripts.js") 
