-
  var menu = [
    {
      name: `index`,
      title: `Главная`,
    },
    {
      name: `experience`,
      title: `Опыт компании`,
    },
    {
      name: `qualification`,
      title: `Квалификация компании`,
    },
    {
      name: `schemes`,
      title: `Разработка схем \nтеплоснабжения городов РФ`,
    },
    {
      name: `activities`,
      title: `Текущие проекты`,
    },
    {
      name: `partners`,
      title: `Наши партнёры`,
    },
    {
      name: `contacts`,
      title: `Контакты`,
    },
  ]

mixin hero(active)
  header.hero
    .hero__top
      a.logo(href='index.html')
        .logo__image
          img(src='./img/logo.svg' alt='лого') 
        h1.company-name НефтеГазЭнергоСервис
      .contacts
        a(href='tel:+74991265327') +7 (499) 126-53-27
        a(href='mailto:info@nges.pro') info@nges.pro
      .hero__menu-button
        button#menu-button.menu-button(href="#" role="button") ≡
          img(src="./img/menu.svg", alt="")

    .hero__nav
      nav.main-menu
        ul.main-menu__list
          each menuItem in menu
            if active === menuItem.name
              li.main-menu__item.main-menu__item--active
                a.main-menu__link(href=`${menuItem.name}.html`)= menuItem.title
            else
              li.main-menu__item
                a.main-menu__link(href=`${menuItem.name}.html`)= menuItem.title
