section.section
  h2.section__caption Наши Партнёры
  p.section__text Среди заказчиков нашей компании преобладают крупные муниципальные заказчики, теплоснабжающие организации, промышленные предприятия такие как:
  ul.section__list
    li.section__item Департамент городского хозяйства и экологии Администрации городского округа Самара;
    li.section__item Департамент жилищно-коммунального хозяйства и энергетики города Ростова-на-Дону;
    li.section__item Главное управление архитектуры и градостроительства Администрации городского округа город Уфа Республики Башкортостан;
    li.section__item Управление по обеспечению жизнедеятельности города Администрации городского округа город Уфа Республики Башкортостан;
    li.section__item Муниципальное казенное учреждение «Управление коммунального хозяйства и благоустройства» муниципального образования город Краснодар;
    li.section__item МУ «Комитет городского хозяйства Администрации г. Улан-Удэ»;
    li.section__item Управление ЖКХ, энергетики, транспорта и связи администрации города Чебоксары Чувашской Республики;
    li.section__item Муниципальное казенное учреждение Златоустовского городского округа «Управление жилищно-коммунального хозяйства»;
    li.section__item ПАО «Газпром»;
    li.section__item ПАО «Т Плюс»;
    li.section__item МУП УИС;
    li.section__item ООО «БашРТС»;
    li.section__item ФГБОУ ВПО МГТУ «Станкин»;
    li.section__item Акционерное общество «Татэнерго»;
    li.section__item ПАО «Казанский вертолетный завод»;
    li.section__item и ещё более 30.

section.section
  p.section__sub-caption Уже более 30 городов и предприятий России доверили нам разработку документов стратегического планирования. <br/> Доверьте нам свое будущее и мы не подведем!

section.section.section--partners
  .section__partners
    article.partner
      img(src="./img/partners/12CJquzaw9BVH_XfD0h43HpQnQ7NXyCR38tSef4tMnAmqX2Jb.png", alt="")
    article.partner
      img(src="./img/partners/142LcnAd5_matHiVtPr6NtVRt1JA1O39RKCvzwMUD1dOX5H9v.jpg", alt="")
    article.partner
      img(src="./img/partners/1ol9uy2ux7TKFOIEsmfsdWySFS0HoqpoYC5jDDcJ7Xngq5CWl.jpg", alt="")
    article.partner
      img(src="./img/partners/17T9uM2ct_u1uJHzRRWjAfplfHy5fvLzW7rSNT09BdqtNylXZ.png", alt="")
    article.partner
      img(src="./img/partners/1Q3pwG7oMDVjI-isl6q7INOgL0lOAyxDAJa4XgmVJUmVFt9sT.jpg", alt="")
    article.partner
      img(src="./img/partners/1DZCW3Kx6KnMi45vqKj79W5wzCR3hWrEx-wTrwzUj-1cjxve_.png", alt="")
    article.partner
      img(src="./img/partners/1SaAR4vpsua7fx5HFz61jiULlWasn_RAGK9Lde-I69r_UfxkO.png", alt="")
    article.partner
      img(src="./img/partners/1TxFg5xVd1hBdKS6q8u8INBxGsQiaf8s4seMs4ckMcgtuj6vX.png", alt="")
    article.partner
      img(src="./img/partners/1c8EkkG4kCPx-Y0mS6kj2FXqlk2qDJld7Frbq6J2de1qjwCYU.png", alt="")
    article.partner
      img(src="./img/partners/1cEW95IzHn2DicjPqi3zZAO6cKmqh7QMDsTANrtMbCP-gR-BQ.jpg", alt="")
    article.partner
      img(src="./img/partners/1gqac8siIsUNtJBdtneqngDbf4FrWfysHE0-PfYL3AI0ZalCB.png", alt="")
    article.partner
      img(src="./img/partners/1ka03jky83bBy8fMQ06MyFJW25ggGT0Xbr24Wk5UGVRcP8zR0.png", alt="")
    article.partner
      img(src="./img/partners/1lx6ExqxlNyHA08G0amYgYsdkW35Msk5Oqe2wX5huzT6FhAjV.png", alt="")
    article.partner
      img(src="./img/partners/1HwkPa3hshQyuETBabPBdvo6_fTEDzagbwUF_52tPzswPZ_z1.png", alt="")
