section.section
  h2.section__caption Наши Партнёры
  p.section__text Среди заказчиков нашей компании преобладают крупные муниципальные заказчики, теплоснабжающие организации, промышленные предприятия такие как:
  ul.section__list
    li.section__item Департамент городского хозяйства и экологии Администрации городского округа Самара;
    li.section__item Департамент жилищно-коммунального хозяйства и энергетики города Ростова-на-Дону;
    li.section__item Главное управление архитектуры и градостроительства Администрации городского округа город Уфа Республики Башкортостан;
    li.section__item Управление по обеспечению жизнедеятельности города Администрации городского округа город Уфа Республики Башкортостан;
    li.section__item Муниципальное казенное учреждение «Управление коммунального хозяйства и благоустройства» муниципального образования город Краснодар;
    li.section__item МУ «Комитет городского хозяйства Администрации г. Улан-Удэ»;
    li.section__item Управление ЖКХ, энергетики, транспорта и связи администрации города Чебоксары Чувашской Республики;
    li.section__item Муниципальное казенное учреждение Златоустовского городского округа «Управление жилищно-коммунального хозяйства»;
    li.section__item ПАО «Газпром»;
    li.section__item ПАО «Т Плюс»;
    li.section__item МУП УИС;
    li.section__item ООО «БашРТС»;
    li.section__item ФГБОУ ВПО МГТУ «Станкин»;
    li.section__item Акционерное общество «Татэнерго»;
    li.section__item ПАО «Казанский вертолетный завод»;
    li.section__item и ещё более 30.

section.section
  p.section__sub-caption Уже более  30 городов и предприятий России доверили нам разработку документов  стратегического планирования. <br/> Доверьте  нам свое будущее и мы не подведем!
