section.section
  h2.section__caption Квалификация Компании
  p.section__sub-caption ООО «НефтеГазЭнергоСервис» располагает высококвалифицированным персоналом, работающим под руководством докторов и кандидатов технических наук.
  p.section__text Наши специалисты обладают многолетним опытом проектирования, необходимыми дипломами и сертификатами, постоянно повышают свой уровень квалификации.
  .section__image
    img(src="./img/monitoring.png", alt="")
  p.section__text Компания обладает парком современного оборудования для диагностики, обследования и контроля всех технологических процессов в области тепло-, водо-, газоснабжения, электрических сетей и подстанций, которое проходит необходимое обслуживание и поверки.
  .section__image
    img(src="./img/heat.png", alt="")
  p.section__text Кроме парка оборудования, ООО «НефтеГазЭнергоСервис» обеспечено лицензированным программным обеспечением, в том числе всеми необходимыми модулями таких геоинформационных систем, как ГИС «Zulu», ГИС «ТеплоГраф», ГИС «ТеплоЭксперт», которые проходят своевременное обновления.
  p.section__text В подтверждение высокой квалификации нашей компании ООО «НефтеГазЭнергоСервис» была выбрана в качестве исполнителя при реализации пилотного проекта ПАО «Газпром» по разработке и внедрению электронных моделей схем теплоснабжения в существующие АСУТП компрессорных станций для нужд ООО «Газпром трансгаз Югорск». В результате разработки электронных моделей схем теплоснабжения ЛПУ МГ и проведенных с их помощью расчетов нам удалось предложить модель по оптимизации существующих систем теплоснабжения компрессорных станций.
  .section__image
    img(src="./img/city-scheme-2.jpg", alt="")
