section.section
  h2.section__caption Разработка схем теплоснабжения городов РФ
  p.section__text С целью определения наиболее эффективной, безопасной и экономически выгодной стратегии использования и развития систем теплоснабжения на территории муниципальных образований Российской Федерации, а также исполнения требований Федерального закона от 27 июля 2010 года № 190-ФЗ "О теплоснабжении", ООО «НефтеГазЭнергоСервис» осуществляет разработку и актуализацию схем теплоснабжения различных населенных пунктов РФ.
  p.section__text ООО «НефтеГазЭнергоСервис» является одной из ведущих организаций по разработке схем теплоснабжения муниципальных образований Российской Федерации. А по количеству разработанных схем теплоснабжения для городов с численностью населения более 1 миллиона человек является абсолютным лидером. ООО «НефтеГазЭнергоСервис» разработало и актуализировало такие города как Уфа, Самара, Краснодар, Ростов-на-Дону, Саратов, Улан-Удэ, Чебоксары и др.
  p.section__text Схема теплоснабжения муниципального образования – документ, содержащий предпроектные материалы по обоснованию эффективного и безопасного функционирования системы теплоснабжения, её развития с учётом правового регулирования в области энергосбережения и повышения энергетической эффективности.
  p.section__text В соответствии с Постановлением Правительства РФ от 22.02.2012 N 154 «О требованиях к схемам теплоснабжения, порядку их разработки и утверждения» на органы местного самоуправления возлагается ответственность за проведение ежегодной актуализации схемы теплоснабжения поселения, городского округа.

section.section
  p.section__sub-caption Согласно п. 38 «Требований к порядку разработки, утверждения и актуализации схем теплоснабжения»:
  p.section__text «38. Не позднее 1 июля года, предшествующего году, на который актуализируется схема теплоснабжения, за исключением случая актуализации схемы теплоснабжения в переходный период в ценовых зонах теплоснабжения, в установленном порядке:

  ul.section__list
    li.section__item а) глава местной администрации городского поселения, глава местной администрации городского округа с численностью населения, составляющей менее 500 тыс. человек, глава местной администрации муниципального района (в отношении сельских поселений, расположенных на территории соответствующего муниципального района, если иное не установлено законом субъекта Российской Федерации) утверждает актуализированную схему теплоснабжения;»
    li.section__item б) глава местной администрации городского поселения, глава местной администрации городского округа с численностью населения, составляющей 500 тыс. человек и более, руководитель органа исполнительной власти города федерального значения направляет для утверждения в уполномоченный федеральный орган проект актуализированной схемы теплоснабжения на бумажном носителе и в электронной форме, а также итоговый документ (протокол) публичных слушаний по указанному проекту.

  p.section__text В случае неисполнения указанных требований Статьей 9.24 КоАП предусмотрена ответственность должностных лиц вплоть до дисквалификации на срок от одного года до двух лет.
  p.section__text Разработка схем теплоснабжения муниципальных образований производится для определения подходящих вариантов и путей развития тепловых сетей.

section.section
  p.section__sub-caption Наличие схем теплоснабжения дает городу ряд преимуществ:
  ul.section__list
    li.section__item возможность разработки инвестиционных программ на основании схем;
    li.section__item возможность на получение финансирования проведения различных мероприятий из районных, областных и федеральных бюджетов;
    li.section__item определение стратегии и единой политики перспективного развития систем теплоснабжения населенных пунктов;
    li.section__item обеспечение надежного и качественного теплоснабжения потребителей при минимально возможном негативном воздействии на окружающую среду.

section.section
  p.section__sub-caption Разработка схем теплоснабжения позволяет:
  ul.section__list
    li.section__item определить перечень мероприятий по развитию или реконструкции систем теплоснабжения с их последующим внесением в различные инвестиционные программы;
    li.section__item рассчитать тарифно-ценовые последствия принятия различных решений в области теплоснабжения;
    li.section__item определить и утвердить перечень единых теплоснабжающих организаций.
