html {
  // positioning
  position: relative;

  // typography
  font-family: 'Rubik', sans-serif;
  font-size: 4.75vw;

  @include atTablet {
    // typography
    font-size: 2.5vw;
  }

  @include atDesktopS {
    font-size: 1.5vw;
  }
  
  @include atDesktopM {
    font-size: 18px;
  }

  @include atDesktopL {
    font-size: 24px;
  }
}

body {
  // positioning
  position: relative;

  // typography
  color: $white;

  // visual
  background-color: $dark;
  background-image: url("img/body-bg.png");
  overflow-x: hidden;
}

.nowrap {
  // typography
  white-space: nowrap;
}

.mobile-only {
  @include atDesktopS {
    // box model
    display: none !important;
  }
}

.desktop-only {
  // box model
  display: none !important;

  @include atDesktopS {
    // box model
    display: block !important;
  }
}

a {
  // typography
  color: $orange;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}
