.contacts {
  // box model
  display: block;

  // typography
  text-align: right;

  & a {
    // typography
    color: $orange;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      // typography
      color: $orange;
    }
  }
}
