.contacts {
  // box model
  display: block;

  // typography
  text-align: right;

  & a {
    // typography
    color: $orange;
    font-size: 14px;
    // font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    // text-transform: uppercase;

    &:hover {
      // typography
      color: $orange;
    }
  }
}
