.footer-menu__list {
  // box model
  text-align: center;
}

.footer-menu__link {
  // box model 
  display: block;
  padding: 10px;

  // typography
  color: $darkColor;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;

  &--active {
    // typography
    color: #ffffff;

    // visual
    background-color: $darkColor;
  }
}
