.footer-address {
  // typography
  color: $dark;
  font-size: 0.85rem;

  @media(min-width: $tablet) {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  a {
    // typography
    color: $dark;
    font-weight: 600;
  }
}
