.footer-menu {
  // box model
  margin-bottom: 3rem;
}

.footer-menu__link {
  // box model
  display: block;
  padding: 0.25rem 0;
  margin-bottom: 0.25rem;

  // typography
  color: $dark;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}
