.footer-address {
  // box model
  margin-bottom: 2rem;
  
  // typography
  color: $darkColor;
  font-size: 0.85rem;

  @media(min-width: $tablet) {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  a {
    // typography
    color: $darkColor;
    font-weight: 700;
  }
}
