.hero {
  // positioning
  position: relative;

  // visual
  background-image: url("img/bg-desktop copy 2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  @include atDesktopS {
    // visual
  }
}

.hero__top {
  // box model
  padding: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.25rem;

  // visual
  background-color: rgba($headerBgColor, 0.85);

  @include atTablet {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  @include atDesktopS {
    // box model
    padding: 2rem 3rem;
  }
}

.hero__nav {
  // box model
  // display: none;
}

.hero__activities {
  // box model
  padding: 1rem;
}

.hero__menu-button {
  // positioning
  position: absolute;
  top: 2.5rem;
  right: 1rem;

  // box model
  width: 2rem;
  display: none;
}
