.logo {
  // box model
  display: flex;
  align-items: flex-end;
  height: auto;
  margin-bottom: 2rem;

  &:hover {
    // typography
    text-decoration: none;
  }
}

.logo__image {
  // box model
  height: 2.5rem;
  margin-right: 0.5rem;
}

.logo__image svg {
  // box model
  height: 100%;

  // visual
  fill: $white;
}
