.main {
  // box model
  padding: 2rem 1.5rem;
  padding-bottom: 5rem;

  @include atTablet {
    // box model
    padding: 2rem;
    padding-bottom: 6rem;
  }

  @include atDesktopS {
    // box model
    padding: 2rem 3rem;
    padding-bottom: 6rem;
    max-width: 42rem;
  }
}
