.main-menu {
  // box model
  padding: 1rem;

  // typography
  text-align: right;
}

.main-menu__item {
  // box model
  @media(min-width: $tablet) {
    display: inline-block;
  }

  &--active .main-menu__link {
    // typography
    color: $darkColor;

    // visual
    background-color: $orange;

    &:hover:before {
      display: none;
    }
  }

  & a:hover {
    // typography
    text-decoration: none;
  }
}

.main-menu__link {
  // positioning
  position: relative;

  // box model
  display: block;
  padding: 10px 15px;

  // typography
  color: $white;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;

  &:before {
    content: "";

    // positioning
    position: absolute;
    bottom: 0;
    right: 0;

    // box model
    height: 2px;
    width: 0;

    // visual
    background-color: $orange;
    opacity: 0;
    transition: all 0.325s ease-in-out;
  }

  &:hover:before {
    // box model
    display: block;
    width: 100%;

    // visual
    opacity: 1;
  }
}
