.main-footer {
  // positioning
  position: relative;

  // box model
  padding: 3rem 1.5rem;
  padding-bottom: 4rem;

  // typography
  font-size: 0;

  // visual
  background-color: $orange;
  background-image: url("img/footer-bg.png");

  &:before {
    content: "";

    // positioning
    position: absolute;
    right: 1rem;
    top: -5.5rem;
    z-index: 3;

    // box model
    display: block;
    height: 7rem;
    width: 100%;

    // visual
    /*border: 1px solid red;*/
    background-image: url("./img/activities.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
