.main {
  // box model
  padding: 2rem 1.5rem;
  padding-bottom: 5rem;

  @include atTablet {
    // box model
    padding: 2rem;
    padding-bottom: 6rem;
  }

  @media(min-width: $desktop) {
    padding-top: 40px;
  }
}
