.main-footer {
  // positioning
  position: relative;

  // box model
  padding: 2rem 1rem;

  // typography
  font-size: 0;

  // visual
  background-color: $orange;
  background-image: url("img/footer-bg.png");

  // &:before {
  //   content: "";

  //   // positioning
  //   position: absolute;
  //   top: -8px;

  //   // box model
  //   display: block;
  //   height: 9px;
  //   width: 100%;

  //   // visual
  //   /*border: 1px solid red;*/
  //   background-image: url("img/footer-border.png");
  // }
}
