.main-menu {
  // box model
  padding: 2rem 0.75rem;

  background-image:
    linear-gradient(to bottom, rgba($headerBgColor, 0.75), transparent);
  backdrop-filter: blur(2px);

  @include atTablet {
    // box model
    padding: 2rem 1rem;

    // typography
    text-align: right;

    // visual
    backdrop-filter: blur(1px);
  }
}

.main-menu__list {
  // box model
  display: flex;
  flex-direction: column;

  @include atDesktopS {
    // box model
    align-items: flex-end;
  }
}

.main-menu__item {
  // box model
  margin-bottom: 0.125rem;

  &--active .main-menu__link {
    // typography
    color: $dark;

    // visual
    background-color: $orange;
    background-image: url("img/footer-bg.png");

    @include atTablet {
      // box model
      margin-bottom: 0.25rem;
      margin-right: 1rem;
    }

    &:hover:before {
      display: none;
    }
  }

  & a:hover {
    // typography
    text-decoration: none;
  }
}

.main-menu__link {
  // positioning
  position: relative;

  // box model
  display: block;
  padding: 0.5rem 1.5rem;

  // typography
  color: $white;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;

  @include atTablet {
    // box model
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  &:before {
    content: "";

    // positioning
    position: absolute;
    bottom: 0;
    left: 0.75rem;

    // box model
    height: 2px;
    width: 0;

    // visual
    background-color: $orange;
    opacity: 0;
    transition: all 0.325s ease-in-out;

    @include atTablet {
      // positioning
      left: auto;
      right: -1rem;
    }
  }

  &:hover:before {
    // box model
    display: block;
    width: 100%;

    // visual
    opacity: 1;
  }
}
