.menu-button {
  // box model
  display: block;

  // border
  border: none;

  // typography
  font-size: 0;

  // visual
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu-button svg {
  // box model
  width: 100%;

  // visual
  fill: $white;
}
