.section {
  // box model
  padding: 2rem 1rem;
}

.section--map {

  // box model
  & iframe {
    display: none;

    @media(min-width: $tablet) {
      display: block;
      padding-bottom: 0;
      margin-bottom: -40px;
    }
  }
}

.section__caption {
  // box model
  display: inline-block;
  padding: 10px 35px;
  margin: 0;
  margin-bottom: 20px;

  @media(min-width: $desktop) {
    max-width: 500px;
  }

  // typography
  color: $darkColor;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;

  @media(min-width: $tablet) {
    font-size: 25px;
  }

  @media(min-width: $desktop) {
    font-size: 30px;
  }

  // visual
  background-color: $orange;
}

.section__sub-caption {

  // box model
  @media(min-width: $desktop) {
    width: 600px;
  }

  // typography
  line-height: 1.6;

  // typography
  color: $orange;
  /*color: #fff;*/
}

.section__text {
  // box model
  margin-bottom: 1rem;

  // typography
  color: $white;
  font-size: 0.85rem;

  strong {
    // typography
    color: $orange;
  }

  // box model
  @media(min-width: $desktop) {
    width: 600px;
  }

}

.section__item {
  // box model
  padding-bottom: 1rem;

  // typography
  font-size: 0.85rem;

  @media(min-width: $desktop) {
    width: 600px;
  }

  // typography
  color: $white;
  font-weight: 300;
  line-height: 1.5;

  &:before {
    content: "— ";

    // typography
    color: $orange;
  }
}

.section__image {
  // box model
  display: block;
  width: 100%;
  margin: 20px 0;

  // visual
  border: 1px solid $orange;

  &--no-border {
    // visual
    border: none;
  }
}
