.section {
  // box model
  margin-bottom: 2rem;
}

.section--map {
  // box model
  margin: 0 -1.5rem;
}

.section__caption {
  // positioning
  position: relative;

  // box model
  padding: 0.5rem 1.5rem;
  margin-left: -0.75rem;
  margin-bottom: 1.5rem;

  // typography
  color: $dark;
  font-weight: 400;
  font-size: 1.5rem;

  font-size: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  // visual
  background-color: $orange;
  background-image: url("img/footer-bg.png");

  &::after {
    content: '';

    // positioning
    position: absolute;
    top: 0;
    left: calc(0.75rem - 1px);

    // box model
    display: block;
    height: 100%;
    width: 2px;

    // visual
    background-color: $dark;
  }

  @media(min-width: $desktop) {
    // display: inline-block;
    max-width: 500px;
  }

  @media(min-width: $tablet) {
    font-size: 25px;
  }

  @media(min-width: $desktop) {
    font-size: 30px;
  }
}

.section__sub-caption {
  // box model
  margin-bottom: 1rem;

  // typography
  color: $orange;
  font-size: 0.85rem;

  // box model
  @media(min-width: $desktop) {
    width: 600px;
  }
}

.section__text {
  // box model
  margin-bottom: 1rem;

  // typography
  color: $white;
  font-size: 0.85rem;

  strong {
    // typography
    color: $orange;
  }

  // box model
  @media(min-width: $desktop) {
    width: 600px;
  }
}

.section__item {
  // box model
  padding-bottom: 1rem;

  // typography
  color: $white;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.5;

  @media(min-width: $desktop) {
    width: 600px;
  }

  &:before {
    content: "— ";

    // typography
    color: $orange;
  }
}

.section__image {
  // box model
  display: block;
  width: 100%;
  margin: 1rem 0;
  border: 2px solid fuchsia;

  // visual
  border: 1px solid $orange;

  &--no-border {
    // visual
    border: none;
  }
}
