.section {
  // box model
  margin-bottom: 2rem;

  @include atDesktopS {
    // box model
    max-width: 48rem;
    padding-right: 6rem;
  }
}

.section--map {
  // box model
  margin: 0 -1.5rem;
  max-width: inherit;
  padding-right: 0;
}

.section--partners {
  // box model
  max-width: inherit;
  padding-right: 0;
}

.section__caption {
  // positioning
  position: relative;

  // box model
  padding: 0.5rem 1.5rem;
  margin-left: -0.75rem;
  margin-bottom: 1.5rem;

  // typography
  color: $dark;
  font-weight: 400;
  font-size: 1.5rem;

  font-size: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  // visual
  background-color: $orange;
  background-image: url("img/footer-bg.png");

  @include atDesktopS {
    // box model
    display: inline-block;

    // typography
    font-size: 1.25rem;
  }

  &::after {
    content: '';

    // positioning
    position: absolute;
    top: 0;
    left: calc(0.75rem - 1px);

    // box model
    display: block;
    height: 100%;
    width: 2px;

    // visual
    background-color: $dark;
  }
}

.section__sub-caption {
  // box model
  margin-bottom: 1rem;

  // typography
  color: $orange;
  font-size: 0.85rem;
}

.section__text {
  // box model
  margin-bottom: 1rem;

  // typography
  color: $white;
  font-size: 0.85rem;

  strong {
    // typography
    color: $orange;
  }
}

.section__item {
  // box model
  padding-bottom: 1rem;

  // typography
  color: $white;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.5;

  &:before {
    content: "— ";

    // typography
    color: $orange;
  }
}

.section__image {
  // box model
  display: block;
  width: 100%;
  margin: 1rem 0;

  // visual
  border: 1px solid $orange;

  @include atDesktopS {
    // box model
    margin: 2rem;
    margin-left: 14rem;
  }

  img {
    // box model
    width: 100%;
  }

  &--no-border {
    // visual
    border: none;
  }
}

.section__partners {
  // box model
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-around;
}

.section__testimonials {
  // box model
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    // box model
    display: block;
    flex-basis: calc(50% - 0.5rem);
    margin-bottom: 0.5rem;

    @include atTablet {
      // box model
      flex-basis: calc(25% - 0.5rem);
    }

    @include atDesktopS {
      // box model
      flex-basis: calc(20% - 1rem);
      margin-bottom: 1rem;
    }
  }

  a img {
    // box model
    height: 100%;
    width: 100%;
  }
}
